<div class="container-fluid">

    <div class="row justify-content-center mt-1">
        <div class="col-12 col-md-6 bg-secondary d-flex 
        justify-content-center align-items-center 
        text-light h3">

            <form #todoForm="ngForm">
                <div class="form-group">

                    <input type="text" class="form-control" [(ngModel)]="formData.todo" name="todo" #todo="ngModel">

                </div>
            </form>
            <button (click)="addToList()" type="submit" class=" btn btn-success">Add Todo</button>
        </div>

    </div>
    <!--Todo items-->
    <div id="todo-item" *ngFor="let x of todos; let index = index;" class="row mt-1">

        <div class="col-3 d-none col-md-3 d-md-block"></div>

        <div class="col-12 col-md-6 bg-secondary d-flex 
                    justify-content-center align-items-center 
                    text-light h3">

            <div class="col-9 text-light h3">{{x.todo}}</div>

            <input (click)="deleteTask(x._id)" type="button" value="Delete" class="col-2 btn btn-danger">
        </div>

        <div class="col-3 d-none col-md-3 d-md-block"></div>
    </div>
</div>